.form-group {
  margin-bottom: 30px;
  margin-top: 40px;
  padding: 0 100px;
  position: relative;
  .form-group__item {
    position: relative;    
    margin-bottom: 15px;
    .error{
      font-size: 12px;
      color: #800000;
      position: absolute;
      top: 9px;
      right: -180px;
      width: 170px;
      height: 20px;
    }
  }
  .form-group__description {
    text-align: center;
    margin-bottom: 20px;
  }
  label {
    margin-bottom: 10px;
  }
  input {
    width: 210px;
    height: 25px; 	
    font-size: 14px;
    text-align: center;
    position: relative;
    outline: none;
    text-transform: capitalize;
    color: #000099;
    float: right;
    border: 1px solid #000099;
    border-radius: 5px;
    &::placeholder {
      font-size: 12px;
      color: #000099;
    }
    &.ng-invalid.ng-touched {
      border: 2px solid #800000;
      outline: none;
    }
  }
  
}
button[disabled] {
    opacity: .4;
    cursor: auto;
  }
.button__changes {
  color: #000099;
  margin: 20px;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #000099;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  padding: 0;
  &:hover {
    color: #000099;
    background-color: #e6e6ff;
    transition: all .25s ease-in-out;
  } 
}
.changes {
    text-align: center;
}
input[name="aptNumberInput"],
input[name="codeInput"], 
input[name="mfoInput"],
input[name="accountInput"] {
	padding-left: 14px
}
input[name="regDayInput"] {
	padding-left: 50px;
}
.error {
  font-size: 12px;
  color: #800000;
  position: absolute;
	top: 9px;
  right: -180px;
  width: 170px;
  height: 20px;
}